body {
    font-family: system-ui;
    width: 90%;
    margin-inline: auto;
    background-image: url(./thumbnail3_IMG_7211.png);
    background-repeat: repeat;
    background-position:;
    background-attachment: fixed;
    background-color: rgb(152, 102, 102);
    <--h1 !important> sizecoverkann een wegmaan</h1>
}