

body{
    background-image: url(./thumbnail_IMG_7211.png);
    background-repeat: repeat;
    background-position: ;
    background-attachment: fixed;
    background-color: rgb(77, 18, 18);
    <--h1 !important> sizecoverkann een wegmaan</h1>
}

.btn {
    font-size: 2rem;
    font-weight: 700;
    padding: 0,5em 1 em;
    color: var(--clr-accent);
    background-color: var(--clr-rgba);
    border:10px solid var(--clr-accent);
    border-radius: 5px;

  

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.btn:hover {
    transform: translateY(-10px);
}

*{
    box-sizing: border-box;
}

